*
{
box-sizing:border-box;
}
h1
{
font-family:bold;
color:black;
text-align: center;
margin-top:80px;
margin-bottom:60px;
}
#p1
{
padding:10px;
margin-left:5px;
margin-top:0px;
}
#p2
{
padding:10px;
margin-left:5px;
margin-top:0px;
}
#p3
{
padding:10px;
margin-left:5px;
margin-top:0px;
}
.div1
{
overflow:hidden;
border:none;
margin-left:auto;
margin-right:auto;
margin-top:10px;
margin-bottom:10px;
padding:10px;
}
section
{
border:1px solid black;
background-color:grey;
width:100%;
font-family:Helvetica;
margin-left:15px;
color:black;
position:relative;
overflow:auto;
}
#C
{
border:1px solid black;
text-align:center;
width:35%;
margin-left:65%;
font-size:120%;
font-weight:bold;
font-family:Times New Roman,sans-serif;
margin-top:0px;
margin-bottom:0px;
padding:5px;
background-color:pink;
}
#B
{
border:1px solid black;
text-align:center;
width:35%;
margin-left:65%;
font-size:120%;
font-weight:bold;
font-family:Times New Roman,sans-serif;
margin-top:0px;
margin-bottom:0px;
padding:5px;
background-color:red;
}
#S
{
border:1px solid black;
text-align:center;
width:35%;
margin-left:65%;
font-size:120%;
font-weight:bold;
font-family:Times New Roman,sans-serif;
margin-top:0px;
margin-bottom:0px;
padding:5px;
background-color:lightyellow;
}
.container                                                                                                                         
{
width:100%;
}
@media(min-width:992px)
{
.col-lg1,.col-lg2,.col-lg3,.col-lg4,.col-lg5,.col-lg6,.col-lg7,.col-lg8,.col-lg9,.col-lg10,.col-lg11,.col-lg12
{
float:left
}
.col-lg1
{
width:8.33%;
}
.col-lg2
{
width:16.66%;
}
.col-lg3
{
width:25%;
}
.col-lg4
{
width:33.33%;
}
.col-lg5
{
width:41.66%;
}
.col-lg6
{
width:50%;
}
.col-lg7
{
width:58.33%;
}
.col-lg8
{
width:66.66%;
}
.col-lg9
{
width:74.99%;
}
.col-lg10
{
width:83.33%;
}
.col-lg11
{
width:91.66%;
}
.col-lg12
{
width:100%;
}
}
@media(min-width:768px)and(max:width:991px)
{
.col-md1,.col-md2,.col-md3,.col-md4,.col-md5,.col-md6,.col-md7,.col-md8,.col-md9,.col-md10,.col-md11,.col-md12
{
float:left
}
.col.md1
{
width:8.33%;
}
.col-md2
{
width:16.66%;
}
.col-md3
{
width:25%;
}
.col-md4
{
width:33.33%;
}
.col-md5
{
width:41.66%;
}
.col-md6
{
width:50%;
}
.col-md7
{
width:58.33%;
}
.col-md8
{
width:66.66%;
}
.col-md9
{
width:74.99%;
}
.col-md10
{
width:83.33%;
}
.col-md11
{
width:91.66%;
}
.col-md12
{
width:100%;
}
}
@media(max-width:768px)
{
.col-sm1,.col-sm2,.col-sm3,.col-sm4,.col-sm5,.col-sm6,.col-sm7,.col-sm8,.col-sm9,.col-sm10,.col-sm11,.col-sm12
{
float:left
}
.col-sm1
{
width:8.33%;
}
.col-sm2
{
width:16.66%;
}
.col-sm3
{
width:25%;
}
.col-sm4
{
width:33.33%;
}
.col-sm5
{
width:41.66%;
}
.col-sm6
{
width:50%;
}
.col-sm7
{
width:58.33%;
}
.col-sm8
{
width:66.66%;
}
.col-sm9
{
width:74.99%;
}
.col-sm10
{
width:83.33%;
}
.col-sm11
{
width:91.66%;
}
.col-sm12
{
width:100%;
}
}






















